* {
  /* changes everything to this default */
  box-sizing: border-box;
}

header {
  width: 100%;
  background: whitesmoke;
  opacity: 50%;
}


#canvas {
width: 100%; 
}


.title {
  margin: auto;
  width: 40%;
}



:root {
  --g1: rgb(98, 0, 234);
  --g2: rgb(27, 221, 205);
}

@keyframes background-pan {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}

body {
  animation: background-pan 2s linear infinite alternate;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  margin: 0;
}

ul {
  /* adding changes for the un ordered list element */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  /* adding changes for the list items*/
  float: left;
  border-right: 5px solid #bbb; /* adds white line beside button */
}

li a {
  /* adding changes for the list items that have an anchor tag in it <a> */
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  /* when hovering over it will highlight the button */
  background-color: #111;
}

li:nth-child(3) {
  /* changes the color of the about button */
  background: #0e6ba1;
  float: right;
}

li:nth-child(2) {
  /* changes the color of the contact button */
  background: rgb(0, 228, 245);
  float: right;
}

ul {
  /* when scrolling the bar will move with you */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.logo-div {
  height: 45px;
  width: 100px;
  scale: 4%;
}

.image {
  position: absolute;
  top: -650px;
  left: -1200px;
}

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
